@page "/calculator"
@inject HttpClient Http
@using ArmyStarter.Models;
@using ArmyStarter.Blazor.Provider;

<h1>Calculator</h1>

<div>
    <ArmyStarter.Blazor.Shared.Calculator.CalculatorAttackingModel @bind-AttackingModel="@AttackingModel" />
    <h2>
        Defending Models
    </h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Toughness</th>
                <th>Armour Save</th>
                <th>Invulnerable Save</th>
                <th>Feel No Pain</th>
                <th>Total Wounds Against Target</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DefendingModel defendingModel in DefendingModels) 
            {
                <ArmyStarter.Blazor.Shared.Calculator.CalculatorDefendingModel DefendingModel="@defendingModel" AttackingModel="@AttackingModel" />
            }
        </tbody>
    </table>
</div>

@code {
    AttackingModel AttackingModel { get; set; } = new AttackingModel() { ToHit = 3, Strength = 4, AP = 0, Attacks = 10 };

    IList<DefendingModel> DefendingModels { get; set; }

    protected override async Task OnInitAsync()
    {
        DefendingModels = new List<DefendingModel>
            {
                new DefendingModel { Name = "GEQ", Toughness = 3, ArmourSave = 5, Wounds = 1 },
                new DefendingModel { Name = "MEQ", Toughness = 4, ArmourSave = 3, Wounds = 1 },
                new DefendingModel { Name = "TEQ", Toughness = 4, ArmourSave = 2, InvulnerableSave = 5, Wounds = 2 },
                new DefendingModel { Name = "LV", Toughness = 6, ArmourSave = 3, Wounds = 10 },
                new DefendingModel { Name = "HV", Toughness = 8, ArmourSave = 3, InvulnerableSave = 4, Wounds = 24 },
            };
    }
}
