@using ArmyStarter.Models;
@using ArmyStarter.Blazor.Display;

<div>
    <h3>@AttackingUnit?.Name</h3>
    <select class="custom-select" @bind="@SelectedAttack">
        <option value="Shooting">Shooting</option>
        <option value="Melee">Melee</option>
    </select>
    @foreach (var model in ModelDisplays)
    {
        <AttackingModel ModelDisplay="@model" SelectedAttack="@SelectedAttack" />
    }
</div>

@code {
    private Unit _attackingUnit;

    [Parameter]
    Unit AttackingUnit
    {
        get
        {
            return _attackingUnit;
        }
        set
        {
            _attackingUnit = value;
        }
    }

    string SelectedAttack { get; set; } = "Shooting";

    [Parameter]
    ModelDisplay[] ModelDisplays { get; set; }
}
