@page "/calculator"
@inject HttpClient Http
@using ArmyStarter.Models;
@using ArmyStarter.Blazor.Display;

<h1>Calculator</h1>

<div>
    <ArmyUnitSelector UnitChanged="@SelectUnit" />

    @if (SelectedUnit != null)
    {
        <Calculations AttackingUnit="@SelectedUnit" ModelDisplays="@ModelDisplays" />
    }
</div>

@code {
    ArmyStarter.Models.Army[] Armies { get; set; } = new ArmyStarter.Models.Army[0];
    Unit[] Units { get; set; }

    ArmyStarter.Models.Army SelectedArmy { get; set; }

    Unit SelectedUnit { get; set; }

    protected override async Task OnInitAsync()
    {
        Armies = await Http.GetJsonAsync<ArmyStarter.Models.Army[]>(Constants.ArmiesController);
    }

    private string _selectedArmyId;
    string SelectedArmyId
    {
        get => _selectedArmyId;
        set
        {
            _selectedArmyId = value;
            var selectedArmyIdGuid = new Guid(value);
            SelectedArmy = Armies.FirstOrDefault(army => army.ArmyId == selectedArmyIdGuid);
        }
    }

    void SelectUnit(Unit unit)
    {
        SelectedUnit = unit;
        ModelDisplays = SelectedUnit.Models.Select(model => new ModelDisplay(model)).ToArray();
    }

    ModelDisplay[] ModelDisplays { get; set; }
}
