@using ArmyStarter.Models;
@inject HttpClient Http

<div class="unit-details">
    <h3 class="card-section-header">@PlanUnit.Unit.Name</h3>
    @PlanUnit.Unit.UnitId.ToString();
</div>

@code {
    [Parameter]
    PlanUnit PlanUnit { get; set; }

    [Parameter]
    EventCallback<PlanUnit> PlanUnitChanged { get; set; }
}
